.project-form__title_type_profile-edit {
  max-width: 238px;
  margin-bottom: 75px;
}


@media screen and (min-width: 1024px) {
  .project-form__title_type_profile-edit {
    max-width: 330px;
    margin-left: 36px;
    margin-bottom: 54px;
        
    align-self: flex-start;
  }
}
