/*
  Note: This block is created because not every .project-form block will have this
  as an element, so I did not want to make it an element of the .project-form block
*/
.project-user-auth-form-container__redirection-info {
  width: 260px;
  margin: 0;
  padding: 20px 0 0;

  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;
  color: white;
}

@media screen and (min-width: 1024px) {
  .project-user-auth-form-container__redirection-info {
    width: 358px;
    padding-top: 15px;

    font-size: 14px;
    line-height: calc(17 / 14);
  }
}