@import url(./__redirection-info/project-reg-and-login-form-container__redirection-info.css);
@import url(./__link/project-reg-and-login-form-container__link.css);

.project-reg-and-login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 40px 0 42px;
}

@media screen and (min-width: 1024px) {
  .project-reg-and-login-form-container {
    width: 400px;
    padding: 60px 0 80px;
  }
}